* {
  background-color: #86BBD8;
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DEB841;
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  float: left;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  background-color: #DEB841;
  font-weight: bold;
  font-size: 20px;
}
li a:hover {
  background-color: #555;
}
.active {
  background-color: #DEB841;
}
ul li h1 {
    color: black;
    background-color: #DEB841;
    text-align: center;
    padding-top: 5px;
    padding-left: 7px;
}
ul li img {
    width: 160px;
    height: 46px;
    background-color: #DEB841;
    padding-left: 10px;
}
figure img {
  width: 102%;
	
  -webkit-background-size: 102%;
  -moz-background-size: 102%;
  -o-background-size: 102%;
  background-size: 102%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  float: right;
}
.wrap {
  overflow: hidden;
  width: 102%;
  margin: 0 auto;
  padding-top: 46px;
}
.tint {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}
.tint:before {
  content: "Welcome to my Portfolio";
  color: #EAEAEA;
  text-align: center;
  font-size: 100px;
  padding-top: 107px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(92,65,93,0.5);
  transition: all .3s linear;
}
.tint:hover:before { 
    background: none;
    content: ""
}
